.footer_test {
  background-image: url('../../images/Ellipse\ 5\ копия\ 9.png');
  background-size: cover;
  max-width: 375px;
}

.container {
  padding: 30px;
  display: flex;
  justify-content: space-between;

}


.logo-img {
  width: 40px;
  height: 11px;
  display: block;
}

.burger-menu_secret_button {
  // background-color: white;
  // background-image: url('../../images/icon_menu.png') cover;
  width: 23px;
  height: 15px;
}

.burger-menu_secret {
  display: none;
}

.nav_title {
  color: #ffffff;
  font-family: 'Open sans';
  margin-bottom: 217px;
}

.nav_title_text {
  font-size: 18px;
  text-align: center;
}

.nav_title-description {
  font-size: 12px;
  padding-bottom: 15px;
  max-width: 280px;
  margin: 0 auto;
}

.pre_timeline-title {
  font-family: 'open sans';
  color: #ffd7f1;
  font-size: 20px;
  width: 189px;
  margin: auto;
  margin-bottom: 246px;
}

.pre_title-2001 {

  display: none;

}

.pre_title-text {
  font-size: 56px;
  font-size: 73.404px;
  font-family: "Poppins";
  background: linear-gradient(-3deg, rgb(255, 175, 227) 0%, rgb(250, 44, 176) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.409;
  position: relative;
  margin-right: 20px;
}

.pre_title-text::before {
  content: '';
  display: block;
  margin: 0;
  width: 37px;
  height: 8px;
  background: linear-gradient(-3deg, rgb(255, 175, 227) 0%, rgb(250, 44, 176) 100%);
  background: linear-gradient(-3deg, rgb(255, 175, 227) 0%, rgb(250, 44, 176) 100%);
  background: linear-gradient(-3deg, rgb(255, 175, 227) 0%, rgb(250, 44, 176) 100%);
  position: absolute;
  left: -47px;
  bottom: 28px;
}

.pre_title-descr {
  font-size: 10px;
  color: #bb9eb1;
}

.pre_title-2004 {
  opacity: none;
  display: none;
  margin-bottom: 45px;
}






.pre_title-2012 {
  opacity: none;
  display: none;
  margin-bottom: 45px;
}

.pre_title-2015 {
  display: none;

}

.pre_title-2017 {
  opacity: 0;
  display: none;
  margin-bottom: 45px;
}

.pre_title-today {

  display: none;

}

.block_timeline {
  display: block;
  width: 200px;
  height: 200px;
}

.timeline {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: block;
  width: 668px;
  height: 689px;
  position: relative;
  margin-left: -228px;
  border-radius: 135%;
  border: solid 1px white;
}

.menu-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15.5px;
  color: #d5d5d5;

}

.circle:hover>.item {
  visibility: visible;
  opacity: 1;
}

.item-1 {
  transform: rotate(296deg) translate(375px);
  color: #d5d5d5;
  width: 20px;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2001 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(64deg) translate(-183px, -143px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}

// &:hover {
//   transform: rotate(-5deg) translate(100px);

//   &:hover~.item-2 {
//     background-color: red;
//     transform: rotate(60deg) translate(100px);
//   }

//   &:hover~.item-3 {
//     background-color: blue;
//     transform: rotate(60deg) translate(100px);
//   }
// }



.item-2 {
  transform: rotate(291deg) translate(375px);
  /* transition: all 2s; */
  color: #d5d5d5;
  font-size: 15.5px;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2004 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(69deg) translate(-153px, -143px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}

.item-3 {
  transform: rotate(284deg) translate(375px);
  /* transition: all 2s; */
  color: #d5d5d5;
  font-size: 15.5px;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2006 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(75deg) translate(-89px, -131px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}

.pre_title-2006 {
  opacity: none;
  display: none;
  margin-bottom: 45px;
}


.item-4 {
  transform: rotate(277deg) translate(375px);
  color: #d5d5d5;
  font-size: 15.5px;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2007 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(84deg) translate(-44px, -109px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;
  }
}

.pre_title-2007 {
  display: none;
}

.item-5 {
  transform: rotate(269deg) translate(375px);
  color: #d5d5d5;
  font-size: 15.5px;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2011 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(91deg) translate(9px, -109px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;
  }
}

.pre_title-2011 {
  display: none;

}

.item-6 {
  transform: rotate(261deg) translate(375px);
  color: #d5d5d5;
  font-size: 15.5px;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2012 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(99deg) translate(56px, -120px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}

.item-7 {
  transform: rotate(-107deg) translate(375px);
  color: #d5d5d5;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2015 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(107deg) translate(107px, -136px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}


.item-8 {
  transform: rotate(966deg) translate(375px);
  color: #d5d5d5;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-2017 {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(113deg) translate(157px, -145px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}


.item-9 {
  transform: rotate(599deg) translate(385px);
  color: #d5d5d5;

  &:hover {
    color: #bb8caa;

  }

  &:hover .pre_title-today {
    display: block;
    opacity: 1;
    /* display: block; */
    transform: rotate(120deg) translate(254px, -101px);
    padding-right: -5px;
    position: absolute;
    left: -43px;
    transition: all 4s;

  }
}


.footer {
  color: #ffffff;
  font-family: "Open sans";
}

.footer_text-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.footer_text-desc {
  font-size: 12px;
  max-width: 305px;
  margin: 0 auto;
  padding-bottom: 15px;
}

// .header-logo-nav{
//   display: flex;
//   flex-flow: wrap;
//   justify-content: space-between;
//   align-items: center;
//   // height: 110px;
//   padding: 20px 0 20px 0;
// }

// .header-section{
//   background: url("../images/header-background.png");
//   background-size: cover;
//   background-position: center;
// }

// .logo-img{
//   display: block;
//   height: 90px;
//   width: 150px;
//   // background-color: black;
// }

// .header-nav{
//  display: flex;
//  flex-flow: row wrap;
//  justify-content: space-between;
//  width: 910px;

// }

// .nav__links{
//   text-decoration: none;
//   text-transform: uppercase;
//   color: #fff;
//      font-family: 'Gentium Book Basic';
//      font-weight:700;
//   &:hover{
//       color: #dab33e;
//       transition: all .5s linear;
//       text-shadow: 1px 1px #00000088;
//   }
// }

// .header-svg{
//   display: block;
//   height: 20px;
//   width: 20px;
//   fill: #dab33e;
//   &:hover{
//       fill: #ffffff;
//       transition: all .5s linear;
//   }
// }

// .header-txt-btn{
//   display: flex;
//   flex-flow: column wrap;
//   justify-content: center;
//   align-items: center;
//   padding-top: 97px;
//   padding-bottom: 97px;
//   text-align: center;
//   font-family: 'Lato';
//   font-weight: 400;
// }

// .header-title{
//   font-size: 90px;
//   font-family: 'Yeseva One';
//   font-weight: 400;
//   color: #fff;
//   width: 970px;
//   &::after{
//       content: url('../images/header-divider.png');
//       display: block;
//       padding: 0 auto;
//       margin: 0 auto;
//       width: 230px;
//       height: 43px;
//       // margin-bottom: 30px;
//   }
// }
// .header-btn{
//   width: 230px;
//   height: 56px;
//   margin: 30px 0 30px 0;
//   color: #fff;
//   text-transform: uppercase;
//   border: 1px solid #fff;
//   background-color: rgba(255, 255, 255, 0.247);
//   &:hover{
//       border: 1px solid #000;
//       background-color: rgba(0, 0, 0, 0.247);
//       cursor: pointer;
//       transition: all .5s linear;
//   }
// }
// .header-media-nav{
//   display: none;
// }

// @media screen and (min-width: 320px) and (max-width: 767px){
// .nav__links{
//   display: none;
// }
// .media-nav-header{
//   position: relative;
// }
// .header-media-nav{
//   display: flex;
//   position: absolute;
//   top: 2.5%;
//   left: 0;
//   width: 80px;
//   height: 80px;
// }
// .svg-media-header{
//   fill: #fff;
//   &:hover{
//     fill: #dab33e;
//   transition: all .5s linear;}
// }

// .logo{
//   display: flex;
//   margin: 0 auto;
//   padding-top: 150px;
//   align-items: flex-end;
// }
// .logo-img{
//   width: auto;
//   height: 170px;
// }
// .header-txt-btn{
//   display: flex;
//   flex-flow: column;
//   justify-content: center;
//   align-items: center;
//   margin: 0;
// }
// .header-title{
//   display: flex;
//   flex-flow: column;
//   width: 80%;
//   text-align: center;
//   font-size: 44px;
//   margin: 0;
//   }
//   .header-buttons{
//     position: absolute;
//     top: 0;
//     right: 10px;
//     display: flex;
//     // justify-items:flex-end;
//   }
//   .header-btn{
//   width: 100px;
//   height: 56px;
//   margin-left: 15px;
//   }

// }
// @media screen and (min-width: 768px) and (max-width: 1023px){
//   .nav__links{
//     display: none;
//   }
//   .media-nav-header{
//     position: relative;
//   }
//   .header-media-nav{
//     display: flex;
//     position: absolute;
//     top: 2%;
//     left: 0;
//     width: 80px;
//     height: 80px;

//   }
//   .svg-media-header{
//     fill: #fff;
//     &:hover{
//       fill: #dab33e;
//     transition: all .5s linear;
//   cursor: pointer;}
//   }

//   .logo{
//     display: flex;
//     margin: 0 auto;
//     padding-top: 150px;
//     align-items: flex-end;
//   }
//   .logo-img{
//     width: auto;
//     height: 180px;
//   }
//   .header-txt-btn{
//     display: flex;
//     flex-flow: column;
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//   }
//   .header-title{
//     display: flex;
//     flex-flow: column;
//     width: 60%;
//     text-align: center;
//     font-size: 60px;
//     margin: 0;
//     }
//     .header-buttons{
//       position: absolute;
//       top: 0;
//       right: 10px;
//       display: flex;
//     }
//     .header-btn{
//     width: 200px;
//     height: 56px;
//     margin-left: 20px;
//     }

// }

// @media screen and (min-width: 1024px) and (max-width: 1400px){

//   .header-nav{
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-between;
//     width: 700px;
//     padding-right: 30px;
//    }
//   //  .logo{
//   //    padding-left: 30px;
//   //  }
//   .container{
//     max-width: 960px;
//   }
//    .header-title{
//     display: flex;
//     flex-flow: column;
//     width: 50%;
//     text-align: center;
//     font-size: 50px;
//     margin: 0;
//     }
// }
