.timeline {

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  display: block;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border: solid 1px white;

}

.menu-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.circle:hover>.item {
  visibility: visible;
  opacity: 1;
}

.item-1 {
  transform: rotate(72deg) translate(100px);
  transition: all 2s;
  background-color: aqua;


  &:hover {
    transform: rotate(-5deg) translate(100px);

    &:hover~.item-2 {
      background-color: red;
      transform: rotate(60deg) translate(100px);
    }

    &:hover~.item-3 {
      background-color: blue;
      transform: rotate(60deg) translate(100px);
    }
  }
}


.item-2 {
  transform: rotate(144deg) translate(100px);
  transition: all 2s;
}

.item-3 {
  transform: rotate(216deg) translate(100px);
  transition: all 2s;
}

.item-4 {
  transform: rotate(288deg) translate(100px);
}

.item-5 {
  transform: rotate(360deg) translate(100px);
}

.item-6 {
  transform: rotate(400deg) translate(100px);
}

.item-7 {
  transform: rotate(420deg) translate(100px);
}

.item-8 {
  transform: rotate(460deg) translate(100px);
}

.item-9 {
  transform: rotate(480deg) translate(100px);
}
